<div class="container">

<h2>
Department Master
</h2>

<div class="form">

<input
[(ngModel)]="department.DepartmentName"
placeholder="Department Name"
/>

<input
[(ngModel)]="department.Description"
placeholder="Description"
/>

<select
[(ngModel)]="department.Status"
>

<option [ngValue]="true">
Active
</option>

<option [ngValue]="false">
Inactive
</option>

</select>

<button
(click)="save()"
>

{{edit?'Update':'Add'}}

</button>

</div>

<table>

<tr>

<th>ID</th>

<th>Name</th>

<th>Description</th>

<th>Status</th>

<th>Action</th>

</tr>

<tr
*ngFor=
"let x of list"
>

<td>
{{x.DepartmentId}}
</td>

<td>
{{x.DepartmentName}}
</td>

<td>
{{x.Description}}
</td>

<td>

{{x.Status
?
'Active'
:
'Inactive'}}

</td>

<td>

<button
(click)="editData(x)"
>

Edit

</button>

<button
(click)="delete(x.DepartmentId)"
>

Delete

</button>

</td>

</tr>

</table>

</div>
