<div class="container">

<h2>
Employee Master
</h2>

<div class="form">

<input
placeholder="Code"
[(ngModel)]="employee.EmployeeCode"
/>

<input
placeholder="Name"
[(ngModel)]="employee.EmployeeName"
/>

<input
placeholder="Designation"
[(ngModel)]="employee.Designation"
/>

<input
placeholder="Email"
[(ngModel)]="employee.Email"
/>

<input
placeholder="Mobile"
[(ngModel)]="employee.MobileNo"
/>

<input
type="number"
placeholder="Department Id"
[(ngModel)]="employee.DepartmentId"
/>

<button
(click)="save()"
>

{{edit?'Update':'Add'}}

</button>

</div>

<table>

<tr>

<th>ID</th>

<th>Code</th>

<th>Name</th>

<th>Department</th>

<th>Designation</th>

<th>Action</th>

</tr>

<tr
*ngFor=
"let x of list"
>

<td>
{{x.EmployeeId}}
</td>

<td>
{{x.EmployeeCode}}
</td>

<td>
{{x.EmployeeName}}
</td>

<td>
{{x.DepartmentName}}
</td>

<td>
{{x.Designation}}
</td>

<td>

<button
(click)="editData(x)"
>
Edit
</button>

<button
(click)="delete(x.EmployeeId)"
>
Delete
</button>

</td>

</tr>

</table>

</div>
